$color-background: #eeeeee;
$color-block: #ffffff;
$color-text: #4d4d4e;
$color-text-active: #2196f3;
$color-text-sub: #999999;
$color-header: #2196f3;
$color-accent: #ff3e81;
$color-divider: #d6d5d5;

$font-size-main: 15px;
$font-size-sub: 13px;